aiofiles
aiohttp
argon2
apscheduler
bing_image_downloader
bs4
brotli
cachetools
certifi
curl_cffi>=0.6.2
deepai
edge-tts
ffmpeg-python
fastapi
future
gitpython
google-api-python-client
gpytranslate
gtts
flask
hachoir
heroku3
httpx[http2]>=0.28.1
lexica-api
lyricsgenius
motor
nekosbest
ntgcalls>=2.0.6
numpy
opencv-python
pillow>=12.0.0
psutil
pycryptodome
pydub
pyfiglet
pyshorteners
pytgcrypto
python-dotenv
python-multipart
python-whois
pyyaml
qrcode
rapidfuzz
requests
SpeechRecognition
speedtest-cli
spotipy
telegraph
unidecode
uvicorn
uvloop==0.21.0
wget
pymongo
kurigram>=2.2.17
py-yt-search
yt-dlp>=2026.1.29
pyromod
g4f>=0.2.0
fuzzywuzzy
python-Levenshtein
mutagen
pytz
googletrans
